#include <zephyr/dt-bindings/pinctrl/nrf-pinctrl.h>
/ {
 /delete-node/ leds;
 /delete-node/ buttons;
 /delete-node/ pwmleds;
 aliases {
  /delete-property/ led0;
  /delete-property/ led1;
  /delete-property/ led2;
  /delete-property/ led3;
  /delete-property/ pwm-led0;
  /delete-property/ sw0;
  /delete-property/ sw1;
  /delete-property/ sw2;
  /delete-property/ sw3;
  /delete-property/ mcuboot-button0;
  /delete-property/ mcuboot-led0;
 };
 chosen {
  /delete-property/ zephyr,console;
  /delete-property/ zephyr,shell-uart;
  /delete-property/ zephyr,uart-mcumgr;
  /delete-property/ zephyr,bt-mon-uart;
  /delete-property/ zephyr,bt-c2h-uart;
 };
};
&uart20 { status = "disabled"; };
&uart30 { status = "disabled"; };
&spi20 { status = "disabled"; };
&spi00 { status = "disabled"; };
&mx25r64 { status = "disabled"; };
&pwm20 { status = "disabled"; };
&adc { status = "disabled"; };
&wdt31 { status = "okay"; };
&ieee802154 { status = "disabled"; };
&lfxo {
 load-capacitors = "internal";
 /* X1 CL=7 pF; provisional pin load, verify frequency on hardware. */
 load-capacitance-femtofarad = <12000>;
};
&pinctrl {
 carrier_fdc_default: carrier_fdc_default {
  group1 {
   psels = <NRF_PSEL(TWIM_SDA, 1, 5)>, <NRF_PSEL(TWIM_SCL, 1, 4)>;
   bias-disable;
  };
 };
 carrier_fdc_sleep: carrier_fdc_sleep {
  group1 {
   psels = <NRF_PSEL(TWIM_SDA, 1, 5)>, <NRF_PSEL(TWIM_SCL, 1, 4)>;
   bias-disable;
   low-power-enable;
  };
 };
 carrier_i2c_default: carrier_i2c_default {
  group1 { psels = <NRF_PSEL(TWIM_SDA, 1, 10)>, <NRF_PSEL(TWIM_SCL, 1, 11)>; };
 };
 carrier_i2c_sleep: carrier_i2c_sleep {
  group1 {
   psels = <NRF_PSEL(TWIM_SDA, 1, 10)>, <NRF_PSEL(TWIM_SCL, 1, 11)>;
   low-power-enable;
  };
 };
};
&i2c22 {
 status = "okay";
 clock-frequency = <100000>;
 pinctrl-0 = <&carrier_i2c_default>;
 pinctrl-1 = <&carrier_i2c_sleep>;
 pinctrl-names = "default", "sleep";
};

/* R36/R37 pull up only to +3V3_FDC_SW. Start suspended and release pins
 * between transfers, including failed transfers and before rail shutdown. */
&i2c20 {
 status = "okay";
 clock-frequency = <100000>;
 pinctrl-0 = <&carrier_fdc_default>;
 pinctrl-1 = <&carrier_fdc_sleep>;
 pinctrl-names = "default", "sleep";
 zephyr,pm-device-runtime-auto;
};
